* {
    box-sizing: border-box;
}

.input {
    font-family: sans-serif;
    font-size: 18px;
    padding-top: 15px;
    width: 200px;
    position: relative;
    display: flex;
    flex-direction: column;

    &.light {
        color: #223344;
        & input {
            border-color: #223344;
            color: #223344;
            &:focus {
                border-color: #33bbff;
            }
        }
    }

    &.dark {
        color: #eeeeee;
        & input {
            border-color: #eeeeee;
            color: #eeeeee;
            &:focus {
                border-color: #33bbff;
            }
        }
    }

    & input {
        padding: 5px;
        outline: none;
        border: none;
        font-size: 1rem;
        background: transparent;
        width: 100%;
        &.regular {
            border-bottom: 1px solid;
        }
        &.outlined {
            border: 1px solid;
            border-radius: 2px;
        }
        &.error, &:focus.error {
            border-color: #ff0000;
        }
        &:focus + label, &:valid + label, &[type='email'] + label {
            top: 0;
            font-size: .8rem;
            color: #33bbff;
            opacity: .8;
        }
    }

    & label {
        cursor: text;
        opacity: .6;
        position: absolute;
        transition: top .2s, font-size .2s, color .2s, opacity .2s;
        left: 5px;
        top: 1.2rem;
    }
}

.errorText {
    color: red;
    font-size: .8rem;
    &.hide {
        display: none;
    }
}